logs/
**/node_modules/
**/.DS_Store
.idea/
**/__pycache__
*.aux
*.log
*.pickle
*.db
*.rdb
*.pid
*.toc
*.out
db.sqlite3
celerybeat-schedule                                                                     
.ipynb_checkpoints
.venv/
.env/
venv/
env/
.env
*.env
.vscode/
.pylintrc
